name: Run Fredderloop

on:
  workflow_dispatch:
    inputs:
      eventType:
        description: 'Run type'
        required: true
        default: 'mone'
        type: choice
        options:
          - none
          - start
          - remind_questions
          - collect_answers
          - remind_answers_day
          - remind_answers_last
          - finish
      isProduction:
        description: 'Is production, post to discord'
        required: false
        type: boolean
  schedule:
    # 00:00 PST from week 2 Nov to week 1 Mar
    # daylight savings off (UTC-8)
    - cron: '59 7 1 12,1-3 *'
    - cron: '59 7 20 11,1-2 *'
    - cron: '59 7 21 11,1-2 *'
    - cron: '59 7 27 11,1-2 *'
    - cron: '57 6 27 11,1-2 *'
    - cron: '59 7 28 11,1-2 *'
    # daylight savings on (UTC-7)
    - cron: '59 6 1 4-11 *'
    - cron: '59 6 20 3-10 *'
    - cron: '59 6 21 3-10 *'
    - cron: '59 6 27 3-10 *'
    - cron: '57 5 27 3-10 *'
    - cron: '59 6 28 3-10 *'

jobs:
  run_fredderloop:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      SERVICE_ACCOUNT_CREDENTIALS_FILE: ${{ secrets.SERVICE_ACCOUNT_CREDENTIALS_FILE }}
      GOOGLE_DRIVE_FOLDER_ID: ${{ secrets.GOOGLE_DRIVE_FOLDER_ID }}
      NEWSLETTER_FOLDER_ID: ${{ secrets.NEWSLETTER_FOLDER_ID }}
      DISCORD_LETTERLOOP_WEBHOOK: ${{ secrets.DISCORD_LETTERLOOP_WEBHOOK }}
      DOC_ID_DOCUMENT_ID: ${{ secrets.DOC_ID_DOCUMENT_ID }}
      SERVICE_ACCOUNT_CREDENTIALS_BASE64: ${{ secrets.SERVICE_ACCOUNT_CREDENTIALS_BASE64 }}
    steps:
      - name: Mask secrets
        run: |
          echo "::add-mask::$SERVICE_ACCOUNT_CREDENTIALS_FILE"
          echo "::add-mask::$GOOGLE_DRIVE_FOLDER_ID"
          echo "::add-mask::$NEWSLETTER_FOLDER_ID"
          echo "::add-mask::$DOC_ID_DOCUMENT_ID"
          echo "::add-mask::$DISCORD_LETTERLOOP_WEBHOOK"
          echo "::add-mask::$SERVICE_ACCOUNT_CREDENTIALS_BASE64"
      - name: Is prod run
        if: github.event_name == 'schedule' || inputs.isProduction
        run: echo "FREDDERLOOP_PROD=true" >>  "$GITHUB_ENV"
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'
      - name: Install Dependencies
        run: |
          python -m venv .venv
          . .venv/bin/activate
          pip install -r requirements.txt
      - name: Set up src/config.py
        run: |
          touch config.py
          echo "SERVICE_ACCOUNT_CREDENTIALS_FILE='$SERVICE_ACCOUNT_CREDENTIALS_FILE'" >> src/config.py
          echo "GOOGLE_DRIVE_FOLDER_ID='$GOOGLE_DRIVE_FOLDER_ID'" >> src/config.py
          echo "NEWSLETTER_FOLDER_ID='$NEWSLETTER_FOLDER_ID'" >> src/config.py
          echo "DOC_ID_DOCUMENT_ID='$DOC_ID_DOCUMENT_ID'" >> src/config.py
          echo "DISCORD_LETTERLOOP_WEBHOOK='$DISCORD_LETTERLOOP_WEBHOOK'" >> src/config.py
      - name: Create Service Account Credentials File
        run: |
          echo $SERVICE_ACCOUNT_CREDENTIALS_BASE64 | base64 --decode > $SERVICE_ACCOUNT_CREDENTIALS_FILE
      - name: Create Form
        if: github.event.schedule == '59 7 1 12,1-3 *' || github.event.schedule == '59 6 1 4-11 *' || inputs.eventType == 'start'
        run: |
          . .venv/bin/activate
          echo "Starting this month's Fredderloop by creating a form!"
          python create_form.py > "output_logs.txt"
          cat "output_logs.txt"
      - name: Reminder to Add Questions
        if: github.event.schedule == '59 7 20 11,1-2 *' || github.event.schedule == '59 6 20 3-10 *' || inputs.eventType == 'remind_questions'
        run: |
          . .venv/bin/activate
          echo "Last day reminder to add questions!"
          python add_questions_reminder.py > "output_logs.txt"
          cat "output_logs.txt"
      - name: Collecting Responses
        if: github.event.schedule == '59 7 21 11,1-2 *' || github.event.schedule == '59 6 21 3-10 *' || inputs.eventType == 'collect_answers'
        run: |
          . .venv/bin/activate
          echo "Starting to collect responses!"
          python collect_responses.py > "output_logs.txt"
          cat "output_logs.txt"
      - name: Reminder to Submit Answers
        if: github.event.schedule == '59 7 27 11,1-2 *' || github.event.schedule == '59 6 27 3-10 *' || inputs.eventType == 'remind_answers_day'
        run: |
          . .venv/bin/activate
          echo "Last day reminder to submit answers!"
          python submission_reminder.py > "output_logs.txt"
          cat "output_logs.txt"
      - name: Last Hour Reminder
        if: github.event.schedule == '57 6 27 11,1-2 *' || github.event.schedule == '57 5 27 3-10 *' || inputs.eventType == 'remind_answers_last'
        run: |
          . .venv/bin/activate
          echo "Last hour reminder to submit answers!"
          python lastHourReminder.py > "output_logs.txt"
          cat "output_logs.txt"
      - name: Share Responses
        if: github.event.schedule == '59 7 28 11,1-2 *' || github.event.schedule == '59 6 28 3-10 *' || inputs.eventType == 'finish'
        run: |
          . .venv/bin/activate
          echo "Fredderloop complete, create and share newsletter!"
          python share_responses.py > "output_logs.txt"
          cat "output_logs.txt"
